<section>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-6 d-flex">
                <div class="m-3">
                    <img src="./assets/Images/Staycation.png" alt="">
                </div>
                <div class="d-flex justify-content-center align-items-center mt-sm-5">
                    <div class="card border-0 d-flex justify-content-center align-items-center ">
                        <header class="me-auto">
                            <h3 class="fw-bold fs-4 mb-4">Forgot password</h3>
                            <p class="h5">If you already have an account register</p>
                            <p class="h5">You can <a class="fw-bold main-txt text-decoration-none"
                                    routerLink="/auth/signin"> Login here !</a>
                            </p>
                        </header>
                        <div>
                            <form class="example-form" [formGroup]="resetPassForm" (ngSubmit)="resetPassword()">
                                <div class="row">
                                    <mat-label class="mt-3 second-txt">Email Address</mat-label>
                                    <mat-form-field class="example-full-width w-75 mt-2">
                                        <input type="email" matInput formControlName="email"
                                            [errorStateMatcher]="matcher" placeholder="Enter your email">
                                        <mat-error *ngIf="resetPassForm.get('email')?.hasError('email')">
                                            Please enter a valid email address
                                        </mat-error>
                                        <mat-error *ngIf="resetPassForm.get('email')?.hasError('required')">
                                            Email is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-label class="mt-3 second-txt">Password</mat-label>
                                    <mat-form-field class="example-full-width w-75 mt-2">

                                        <input type="password" matInput formControlName="password"
                                            [type]="hide ? 'password' : 'text'" [errorStateMatcher]="matcher"
                                            placeholder="Enter your password">
                                        <button mat-icon-button matSuffix (click)="hide = !hide"
                                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                        <mat-error *ngIf="resetPassForm.get('password')?.hasError('required')">
                                            Password is required
                                        </mat-error>
                                        <mat-error *ngIf="resetPassForm.get('password')?.hasError('pattern')">
                                            Password should be 6-20 characters long and include at least one special
                                            character
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- <div class="p-inputgroup w-75">
                                        <span class="p-inputgroup-addon">
                                            <i class="pi pi-user"></i>
                                        </span>
                                        <input pInputText placeholder="Username" />
                                    </div> -->
                                </div>


                                <button type="submit" mat-button class="w-75 main-btn text-white">login</button>
                            </form>

                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-6 ">
                <div class="card border-0">
                    <div>
                        <img src="../../../../../assets/Images/forget-reset.png" alt="" class="w-100 vh-100 py-3 rounded rounded-3">
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>