<section class="auth">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 shadow-sm">
                <div class="container p-2">
                    <div class="p-3">
                        <img src="./assets/Images/Staycation.png" alt="">
                    </div>
                    <div class="form-container">
                        <div>
                            <h3 class="fs-3 fw-bold">Sign up</h3>
                            <p class="fw-semibold m-0">
                                If you already have an account
                            </p>
                            <p class="fw-semibold m-0">
                                You can <a class="text-danger text-decoration-none" routerLink="/auth/signin">Login
                                    here!</a>
                            </p>
                        </div>
                        <form [formGroup]="signUpForm" (ngSubmit)="onSignUp(signUpForm)">
                            <div class="d-flex justify-content-center my-2">
                                <ngx-dropzone (change)="onSelect($event)">
                                    <ngx-dropzone-label class="main-color">
                                        <i class="pi pi-camera"></i>
                                    </ngx-dropzone-label>
                                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                                        *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                                        <ngx-dropzone-label> </ngx-dropzone-label>
                                    </ngx-dropzone-image-preview>
                                </ngx-dropzone>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="fs-6 fw-semibold">User Name</label>
                                    <div class="my-1">
                                        <input formControlName="userName" class="bg-body-tertiary w-100" pInputText
                                            placeholder="Username" placeholder="Please type here ..." />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="fs-6 fw-semibold">Email Address</label>
                                    <div class="my-1">
                                        <input formControlName="email" class="bg-body-tertiary w-100" pInputText
                                            type="email" placeholder="Username" placeholder="Please type here ..." />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="fs-6 fw-semibold">Phone Number</label>
                                    <div class="my-1">
                                        <input formControlName="phoneNumber" class="bg-body-tertiary w-100" pInputText
                                            placeholder="Username" placeholder="Please type here ..." />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="fs-6 fw-semibold">Country</label>
                                    <div class="my-1">
                                        <input formControlName="country" class="bg-body-tertiary w-100" pInputText
                                            placeholder="Username" placeholder="Please type here ..." />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="fs-6 fw-semibold">Password</label>
                                    <div class="my-1">
                                        <div class="p-inputgroup">
                                            <input pInputText placeholder="Enter password" type="password" />
                                            <span class="p-inputgroup-addon pointer">
                                                <i class="pi pi-eye"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="fs-6 fw-semibold">Confirm Password</label>
                                    <div class="my-1">
                                        <p-password formControlName="confirmPassword" class="bg-body-tertiary w-100"
                                            placeholder="Please type here ..." [toggleMask]="true"></p-password>
                                    </div>
                                </div>
                                <div class="col-md-9 my-2 mx-auto">
                                    <button class="btn btn-primary w-100">Sign up</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="image-layout ">
                    <img src="../../../../../assets/Images/signup.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>