<section class="auth">
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-md-6">
                <div class="p-2">
                    <span>
                        <img src="../../../../../assets/Images/Staycation.png" alt="">
                    </span>
                </div>
                <div class=" bg-body-secondary mt-4 px-5">
                        <div>
                            <h3 class="fw-bold">Sign up</h3>
                            <small class="m-0 d-block">
                                If you already have an account register
                            </small>
                            <small class="d-block">
                                You can <a class="text-danger" routerLink="/Auth/signIn">Login here !</a>
                            </small>
                        </div>
                        <div class="mt-4">
                            <form>
                                <div></div>
                            </form>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="image-layout">
                    <img src="../../../../../assets/Images/signUp.png">
                </div>
            </div>
        </div>
    </div>
</section>