<section class="auth">
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-md-6">
                <div class="p-2">
                    <span>
                        <img src="../../../../../assets/Images/Staycation.png" alt="">
                    </span>
                </div>
                <div class=" bg-body-secondary mt-4 px-5">
                    <div>
                        <h3 class="fw-bold">Sign up</h3>
                        <small class="m-0 d-block">
                            If you already have an account register
                        </small>
                        <small class="d-block">

                            You can <a class="text-danger" routerLink="/auth/signin">Login here !</a>

                        </small>
                    </div>
                    <div class="mt-4">
                        <form>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <i class="pi pi-user"></i>
                                </span>
                                <input pInputText placeholder="Username" />
                            </div>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">$</span>
                                <input type="text" pInputText placeholder="Price" />
                                <span class="p-inputgroup-addon">.00</span>
                            </div>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">www</span>
                                <input type="text" pInputText placeholder="Website" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="image-layout">
                    <img src="../../../../../assets/Images/signup.png">
                </div>

            </div>
        </div>
    </div>
</section>