<section class="bg-sidebar-color side-bar overflow-y-auto pt-5 position-relative">
    <div class="position-absolute d-flex align-items-center justify-content-center pointer">
    </div>
    <div class="menu">
        <ng-container *ngFor="let item of menu">
            <a *ngIf="item.isActive" class="item py-3 px-4" [routerLink]="item.link" routerLinkActive="active">
                <mat-icon matSuffix>{{ item.icon }}</mat-icon>
                {{item.title}}
            </a>
        </ng-container>
    </div>
</section>