<section class="mt-1">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="flex justify-content-center">
                <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
            </div>
            <div class="row">
                <div class="profile-card ">
                  <div class="profile-card__img">
                    <img src="{{userDetails?.user?.profileImage}}" alt="">
                  </div>
              
                  <div class="profile-card__cnt js-profile-cnt">
                    <div class="profile-card__name">{{userDetails?.user?.userName}}</div>
                    <div class="profile-card__txt">{{userDetails?.user?.email}}</div>              
                    <div class="profile-card-inf mb-4">
                      <div class="profile-card-inf__item">
                        <i class="pi pi-phone fs-3 mb-2 fw-bold" style="color: 'var(--main-color)'"></i>
                        <div class="profile-card-inf__txt fs-5">{{userDetails?.user?.phoneNumber}}</div>
                      </div>
                      <div class="profile-card-inf__item">
                        <i class="pi pi-flag-fill fs-3 mb-2 fw-bold" style="color: 'var(--main-color)'"></i>
                        <div class="profile-card-inf__txt fs-5">{{userDetails?.user?.country}}</div>
                      </div>
                      <div class="profile-card-inf__item">
                        <i class="pi pi-user fs-3 mb-2 fw-bold" style="color: 'var(--main-color)'"></i>
                        <div class="profile-card-inf__txt fs-5">{{userDetails?.user?.role}}</div>
                      </div>
                    </div>
              
                  </div>
              
                </div>
            </div>
        </div>
    </div>

      
</section>