<section>
    <div class="container mt-5 justify-content-start d-lg-flex mx-auto">
        <div class=" row w-100 ">
            <h2>Most popular ads</h2>

            <div>
                <div class="my-5 " *ngFor="let ad of PopularAds">
                    <div class="img-container col-md-4">
                        <img [src]="ad.room.images" alt="" class="imag-img2 w-100 h-100 ">
                        <div class="icon fs-5">
                            <span class="fw-bold mx-2"> {{ad.room.price | currency :'USD' :'symbol':'1.0-0'}}</span>per
                            night!
                        </div>
                        <div class="position-absolute bottom-0 ms-4 text-white fs-2">
                            <p class="py-3">{{ad.room.roomNumber}}</p>
                            <p class="pb-3">{{ad.createdBy.userName}}</p>
                        </div>
                        <div class="layer rounded-4 ">
                            <a type="button"><span class="favIcon material-icons fs-1"
                                    (click)=" saveFavRoom(ad.room._id)">favorite</span></a>
                            <a type="button" routerLink="/"><span
                                    class="viewIcon material-icons fs-1">visibility</span></a>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div>
            <div class="card flex justify-content-center">
                <p-dialog header="SIGN IN" [(visible)]="visible" [style]="{width: '50vw'}">
                    <form class="example-form" [formGroup]="signInForm" (ngSubmit)="signIn(signInForm)">
                        <div class="row">
                            <p class="text-danger">your are not logged in!</p>
                            <div class="mt-4">

                                <label for="email">Email address</label>
                                <input type="text" pInputText formControlName="email" class="d-block w-100 mt-2"
                                    name="email" placeholder="Enter your email" />

                                <small class="block p-error" *ngIf="email.invalid &&
                                 (email.dirty || email.touched)">
                                    <div *ngIf="email.errors?.['required']">Email is required</div>
                                    <div *ngIf="email.errors?.['email']">please enter a valid email!</div>

                                </small>

                            </div>
                            <div class="mt-4">

                                <label for="password">password</label>
                                <input type="password" pInputText formControlName="password" class="d-block w-100 mt-2"
                                    name="password" placeholder="Enter your password" />

                                <small class="block p-error" *ngIf="password.invalid &&
                                (password.dirty || password.touched)">
                                    <div *ngIf="password.errors?.['required']">password is required</div>
                                    <div *ngIf="password.errors?.['pattern']">
                                        Password should be 6-20
                                        character long
                                    </div>
                                </small>

                            </div>
                            <button type="submit" class="w-75 py-2 rounded-2 d-block mx-auto main-btn text-white"
                                [disabled]="signInForm.invalid">login</button>
                        </div>
                    </form>
                </p-dialog>
            </div>
        </div>
    </div>
</section>