<section>
    <div class="container mt-5 justify-content-center d-lg-flex mx-auto">
        <div class=" row w-100 ">
            <h2>Houses with beauty backyard</h2>
            <div class="row houses-with-beauty-backyard">
                <div class="col-md-3">
                  <div class="card border-0">
                    <img src="../../../../../assets/Images/pic.png" alt="Tabby Town" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Tabby Town</h5>
                      <p class="card-text">Guntung Baru, Indonesia</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card border-0">
                    <img src="../../../../../assets/Images/pic (1).png" alt="Anggana" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Anggana</h5>
                      <p class="card-text">Bogor, Indonesia</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 ">
                  <div class="card border-0">
                    <img src="../../../../../assets/Images/pic (2).png" alt="Seattle Rain" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Seattle Rain</h5>
                      <p class="card-text">Jakarta, Indonesia</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card border-0">
                    <img src="../../../../../assets/Images/pic (3).png" alt="Wooden Pit" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Wooden Pit</h5>
                      <p class="card-text">Wrimicon, Indonesia</p>
                    </div>
                  </div>
                </div>
              </div>
            <!-- <div>
                <div class="my-5 " *ngFor="let ad of PopularAds">
                    <div class="img-container col-md-4">
                        <img [src]="ad.room.images" alt="" class="imag-img2 w-100 h-100 ">
                        <div class="icon fs-5">
                            <span class="fw-bold mx-2"> {{ad.room.price | currency :'USD' :'symbol':'1.0-0'}}</span>per
                            night!
                        </div>
                        <div class="position-absolute bottom-0 ms-4 text-white fs-2">
                            <p class="py-3">{{ad.room.roomNumber}}</p>
                            <p class="pb-3">{{ad.createdBy.userName}}</p>
                        </div>
                        <div class="layer rounded-4 ">
                            <a type="button"><span class="favIcon material-icons fs-1"
                                    (click)=" saveFavRoom(ad.room._id)">favorite</span></a>
                            <a type="button" routerLink="/"><span
                                    class="viewIcon material-icons fs-1">visibility</span></a>
                        </div>
                    </div>


                </div>
            </div> -->
        </div>
    </div>
</section>
