.auth-layout {
    .container-fluid {
        max-height: inherit;

        .image-layout {
            max-height: 100vh;
            min-height: 100vh;
            padding: 20px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-height: inherit;
            }
        }

        .formLayoutContainer {
            max-height: 100vh;
        }
    }

}