.bg-signup {
    background-image: url(../../Images/signUp.png);
}

.bg-signin {
    background-image: url(../../Images/login.png);
}

.bg-reset-forget {
    background-image: url(../../images/forget-reset.png);
}