.auth {
    min-height: 100vh;
    overflow-y: auto;
    height: 100%;

    .image-layout {
        max-height: 100vh;

        img {
            max-height: inherit;
            width: 100%;
        }
    }

}
