.main-btn {
    background-color: #3252DF;
    color: white;
    box-shadow: 5px 5px 10px rgb(50, 82, 223, 0.3);
    transition: all 0.5s;
    margin-top: 2rem;

    &:hover {
        opacity: 0.7;
    }
}






.links {

    display: flex;

    a {
        text-decoration: none;
        color: #7B88A3;
        transition: all 0.5s;

        &:hover {
            color: #4c4e54;
        }
    }
}