.auth ngx-dropzone {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50% !important;
    border-color: var(--main-color) !important;
    overflow: hidden !important;
    justify-content: center !important;
    background-color: transparent !important;
}

.auth ngx-dropzone-preview {
    height: 100% !important;
    min-height: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
}

.auth ngx-dropzone-image-preview {
    height: 100px !important;
    min-height: 100px !important;
    margin: 0 !important;
}


.auth ngx-dropzone-remove-badge {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}