.side-bar {
    min-height: 100vh;
    height: 100%;
  
    .menu {
      .item {
        color: whitesmoke;
        display: flex;
        align-items: center;
        gap: 20px;
        text-decoration: none;
        margin: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: all .3s ease-in-out;
  
        &:hover {
          background-color: var(--hvr-color);
          color: white;
          text-decoration: none !important;
        }
      }
  
      .active {
        background-color: var(--hvr-color);
        color: white;
      }
    }
  

  }