<section>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-6 d-flex">
                <div class="m-3">
                    <img src="./assets/Images/Staycation.png" alt="">
                </div>
                <div class="d-flex justify-content-center align-items-center mt-sm-5">
                    <div class="card border-0 d-flex justify-content-center align-items-center ">
                        <header class="me-auto">
                            <h3 class="fw-bold fs-4 mb-4">Forgot password</h3>
                            <p class="h5">If you already have an account register</p>
                            <p class="h5">You can <a class="fw-bold main-txt text-decoration-none"
                                    routerLink="/auth/signin"> Login here !</a>
                            </p>
                        </header>
                        <div>
                            <form class="example-form" [formGroup]="forgetPassForm" (ngSubmit)="Verify()">
                                <div class="row">
                                    <!-- <label for="email" class="font-bold block mb-2 mt-3 second-txt"> Email </label>
                                    <input pInputText id="email" pKeyFilter="int" class="w-full" formControlName="email"/> -->
                                    <mat-label class="mt-3 second-txt">Email Address</mat-label>
                                    <mat-form-field class="example-full-width w-75 mt-2">
                                        <input type="email" matInput formControlName="email"
                                            [errorStateMatcher]="matcher" placeholder="Enter your email">
                                        <mat-error *ngIf="forgetPassForm.get('email')?.hasError('email')">
                                            Please enter a valid email address
                                        </mat-error>
                                        <mat-error *ngIf="forgetPassForm.get('email')?.hasError('required')">
                                            Email is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                          
                                </div>

                                <p-button class="w-75 text-white" type="submit" label="Sned Mail"></p-button>
                            
                            </form>

                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-6 ">
                <div class="card border-0">
                    <div>
                        <img src="../../../../../assets/Images/forget-reset.png" alt="" class="w-100 vh-100 py-3 rounded rounded-3">
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

