<section class=" container mt-1">
    <div class="mb-3">
        <p-breadcrumb class="max-w-full " [model]="items" [home]="home"></p-breadcrumb>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 mb-3">
            <h3 class="m-0 fw-semibold fs-4">Users table details</h3>
            <p class="m-0 fs-6 fw-normal">You can check all details</p>
        </div>
    </div>

    <div class="mt-2">
        <app-shared-table [columnList]="columns" [dataArray]="tableData" (actionClick)="onActionClick($event.action, $event.item)"></app-shared-table>
    </div>
    

</section>