<section>
    <div class="container mt-5 justify-content-center d-lg-flex mx-auto">
        <div class=" row w-100 ">
            <h2>Ads</h2>
            <div class="row houses-with-beauty-backyard">
                <div class="col-md-3">
                  <div class="card border-0">
                    <img src="../../../../../assets/Images/pic3-1.png" alt="Tabby Town" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">PS Wood</h5>
                      <p class="card-text">Depok, Indonesia</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card border-0">
                    <img src="../../../../../assets/Images/pic3-2.png" alt="Anggana" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">One Five</h5>
                      <p class="card-text">Jakarta, Indonesia</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 ">
                  <div class="card border-0">
                    <img src="../../../../../assets/Images/pic3-3.png" alt="Seattle Rain" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Minimal</h5>
                      <p class="card-text">Bogor, Indonesia</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card border-0">
                    <img src="../../../../../assets/Images/pic3-4.png" alt="Wooden Pit" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Stays Home</h5>
                      <p class="card-text">Wonosobo, Indonesia</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>
