<section>
    <div class="container mt-5 justify-content-center d-lg-flex mx-auto">
        <div class=" row w-100 ">
            <h2>Hotels with large living room</h2>
            <div class="row houses-with-beauty-backyard">
                <div class="col-md-3">
                  <div class="card border-0">
                    <img src="../../../../../assets/Images/pic1-1.png" alt="Tabby Town" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Green Park</h5>
                      <p class="card-text">Tangerang, Indonesia</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card border-0">
                    <img src="../../../../../assets/Images/pic 1-2.png" alt="Anggana" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Podo Wae</h5>
                      <p class="card-text">Madiun, Indonesia</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 ">
                  <div class="card border-0">
                    <img src="../../../../../assets/Images/pic 1-3.png" alt="Seattle Rain" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Silver Rain</h5>
                      <p class="card-text">Bandung, Indonesia</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card border-0">
                    <img src="../../../../../assets/Images/pic 1-4.png" alt="Wooden Pit" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Cashville</h5>
                      <p class="card-text">Kemang, Indonesia</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>
