<section>
  <div class="container py-5">
    <div class="row">

      <div>
        <div class="row">
          <div class="col-md-3">
            <h3 class="fs-3 fw-bold"><span style="color: #3252DF;">Stay</span>cation.</h3>
            <p class="text-body-tertiary">{{'We kaboom your beauty holiday instantly and memorable.'|
              translate}}</p>
          </div>
          <div class="col-md-3">
            <h3 style="color: #152C5B;">{{'For Beginners'| translate}}</h3>
            <p class="text-body-tertiary">{{'New Account'| translate}}</p>
            <p class="text-body-tertiary">{{'Start Booking a Room'| translate}}</p>
            <p class="text-body-tertiary">{{'Use Payments'| translate}}</p>
          </div>
          <div class="col-md-3">
            <h3 style="color: #152C5B;">{{'Explore Us'| translate}}</h3>
            <p class="text-body-tertiary">{{'Our Careers'|translate}}</p>
            <p class="text-body-tertiary">{{'Privacy'| translate}}</p>
            <p class="text-body-tertiary">{{'Terms & Conditions'| translate}}</p>
          </div>
          <div class="col-md-3">
            <h3 style="color: #152C5B;">{{'Connect Us'| translate}}</h3>
            <p class="text-body-tertiary">supportstaycation.id</p>
            <p class="text-body-tertiary">'021 - 2208 - 1996' | translate</p>
            <p class="text-body-tertiary">{{'Staycation, Kemang, Jakarta'| translate}}</p>
          </div>
        </div>
        <div class="row text-center mt-5 ">
          <p>{{'Copyright 2019 • All rights reserved • Staycation'| translate}}</p>
        </div>
      </div>

    </div>
  </div>
</section>