
<div class="container-fluid shadow-sm">
    <footer class="py-5">
      <div class="row justify-content-center">
        <div class="col-md-3 mb-3">
            <div class="image-form">
                <img src="../../../../../assets/Images/Staycation.png"
                    class="shadow-sm py-3 px-5 rounded-3" role="button">
            </div>
            <div>
                <small class="text-muted">We kaboom your beauty holiday instantly and memorable.</small>
            </div>
        </div>
        <div class="col-4 my-3">
          <h2>For Beginners</h2>
          <ul class="nav flex-column">
            <li class="nav-item mb-2 text-muted"><a class="nav-link p-0 text-body-secondary">New Account</a></li>
            <li class="nav-item mb-2 text-muted"><a class="nav-link p-0 text-body-secondary">Start Booking a Room</a></li>
            <li class="nav-item mb-2 text-muted"><a class="nav-link p-0 text-body-secondary">Use Payments</a></li>
          </ul>
        </div>

        <div class="col-4 my-3">
          <h2>Explore Us</h2>
          <ul class="nav flex-column">
            <li class="nav-item mb-2 text-muted"><a class="nav-link p-0 text-body-secondary">Our Careers</a></li>
            <li class="nav-item mb-2 text-muted"><a class="nav-link p-0 text-body-secondary">Privacy</a></li>
            <li class="nav-item mb-2 text-muted"><a class="nav-link p-0 text-body-secondary">Terms & Conditions</a></li>
            <li class="nav-item mb-2 text-muted"><a class="nav-link p-0 text-body-secondary">FAQs</a></li>
            <li class="nav-item mb-2 text-muted"><a class="nav-link p-0 text-body-secondary">About</a></li>
          </ul>
        </div>

      </div>

      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p>&copy; Copyright 2019 • All rights reserved • Staycation</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-body-emphasis"><svg class="bi" width="24" height="24">
                <use xlink:href="#twitter" />
              </svg></a></li>
          <li class="ms-3"><a class="link-body-emphasis"><svg class="bi" width="24" height="24">
                <use xlink:href="#instagram" />
              </svg></a></li>
          <li class="ms-3"><a class="link-body-emphasis"><svg class="bi" width="24" height="24">
                <use xlink:href="#facebook" />
              </svg></a></li>
        </ul>
      </div>
    </footer>
  </div>