<section class="mt-1">
    <div class="container">
        <div class="flex justify-content-center">
            <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- <div class="card border-0 rounded-2 shadow-lg m-3"
                    *ngIf="roomDetails?.room?.images.length > 0; else noImages">
                    <owl-carousel-o [options]="customOptions">
                        <ng-container *ngFor="let slide of roomDetails?.room?.images">
                            <ng-template carouselSlide>
                                <img [src]="slide" alt="Room Image" class="w-100">
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div> -->

                <div class="card">
                    <p-galleria [value]="roomDetails?.room?.images"  [containerStyle]="{ 'max-width': '640px' }" [numVisible]="3">
                        <ng-template pTemplate="item" let-item>
                            <img [src]="item" style="width: 100%; height: 350px;" />
                        </ng-template>
                        <ng-template pTemplate="thumbnail" let-item>
                            <div class=" d-flex grid grid-nogutter justify-content-center">
                                <img [src]="item" style="width: 20%;"  />
                                
                            </div>
                        </ng-template>
                    </p-galleria>
                </div>
                

                <ng-template #noImages>
                    <div class="card border-0 shadow-lg m-3">
                        <img src="./assets/Images/Presidential-Suite-Bedroom-twin.jpg" class="w-100 h-25 rounded-2">
                    </div>
                </ng-template>
            </div>
            <div class="col-md-6 my-5">
                <p-fieldset>
                    <ng-template pTemplate="header">
                        <div class="flex align-items-center text-primary">
                            <span class="pi pi-building me-2"></span>
                            <span class="font-bold text-lg">{{roomDetails?.room?.roomNumber}}</span>
                        </div>
                    </ng-template>
                    <div class="d-flex  align-items-center">
                        <p class=" fw-bolder fs-6">Room price :</p>
                        <p class="ms-3 fs-6">{{roomDetails?.room?.price | currency:
                        'EGP':'symbol':'1.0-0'}}</p>
                    </div>
                    <div class="d-flex  align-items-center">
                        <p class=" fw-bolder fs-6">Room discount :</p>
                        <p class="ms-3 fs-6">{{roomDetails?.room?.discount}}%</p>
                    </div>
                    <div class="d-flex  align-items-center">
                        <p class=" fw-bolder fs-6">Room capacity :</p>
                        <p class="ms-3 fs-6">{{roomDetails?.room?.capacity}} Persons</p>
                    </div>
                    <div class="d-flex  align-items-center">
                        <p class=" fw-bolder fs-6">Created by :</p>
                        <p class="ms-3 fs-6">{{roomDetails?.room?.createdBy?.userName}}</p>
                    </div>
                </p-fieldset>
                <p-divider type="dashed"></p-divider>
                <div>
                    <div>Room facilities:
                        <div class="my-3">
                            <span class="mx-3 badge text-bg-primary px-3 py-2 h6"
                                *ngFor="let item of roomDetails?.room?.facilities">
                                {{item.name}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>