@import 'Pages/auth.scss';
@import 'Pages/fonts.scss';
@import 'Pages/btn.scss';
@import "Pages/colors.scss";
@import 'Pages/primeng.scss';
@import 'Pages/ngx-dropzone.scss';
@import 'Pages/sidebar.scss';


.pointer {
    cursor: pointer;
}

body {
    margin: 0;
    max-height: 100vh;
}


::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(221, 221, 221);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 5px;
  }