.imag_home {
    width: 600px;
    margin-top: 50px;
    margin-left: 60px;
}

.imag_home_border {
    border: rgba(56, 56, 56, .2) solid 4px;
}


.imag-img_home {

    position: relative;
    top: -60px;
    left: -30px;
    border-radius: 80px 15px 15px 15px;
    overflow: hidden;
    width: 400px;

}