<section>
    <div class="container mt-5 justify-content-between d-lg-flex mx-auto py-5 my-5">
        <div class=" row w-100 ">
            <div class="col-md-6">
                <div class="imag_home imag_home_border">
                    <div class="imag-img_home w-100">
                        <img src="./assets/Images/family.png" alt="" class="homeImg w-100">
                    </div>
                </div>

            </div>
            <div class=" col-md-6 mt-5 px-5 ">
                <div>
                    <h2 class="fs-1 fw-bold pt-4 my-5 " style="color:#152C5B ;">Happy Family</h2>
                    <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
                    <p class="fs-3 mb-4 text-dark mt-5">What a great trip with my family and </p>
                    <p class="fs-3 mb-4 text-dark">I should try again next time soon ...</p>
                    <span class="fs-5 text-body-tertiary  ">Angga, Product Designer</span>
                    <div>
                        <i class="fa-solid fa-circle-arrow-left fs-1 m-3 text-primary"></i>
                        <i class="fa-solid fa-circle-arrow-right fs-1 m-3 text-primary"></i>
                    </div>

                </div>

            </div>
        </div>
    </div>

</section>