<!-- <div class="card flex-row
 border-0 shadow-sm m-3 d-flex justify-content-between align-items-center">
    <div class="mt-3 mx-3">
        <h4 class="fs-5">Rooms facilities Table Details</h4>
        <p class="text-muted">You can check all Rooms facilities details</p>
    </div>
    <div> <button (click)="showAddDialog()" class=" btn btn-primary mx-3 ">Add new room
            facility</button></div>

</div>

<div class="flex flex-column md:flex-row md:justify-content-between row-gap-3">
    <p-dialog header="Add new room facility" [(visible)]="visibleAdd" [style]="{width: '40vw' , height:'40vh'}">
        <form action="" [formGroup]="RoomFacilityForm" (ngSubmit)="addRoomFacility(RoomFacilityForm)">
            <input class="w-100 mt-5 bg-body-tertiary" type="text" pInputText formControlName="name"
                placeholder="Enter name of room facility" />
            <small class="block p-error" *ngIf=" name.touched">
                <div *ngIf="name.errors?.['required']">Name of room facility is required</div>

            </small>
            <div class="d-flex justify-content-left align-items-center">
                <p-button type="submit" label="Save & Add more" class=" mt-5 mx-5 px-3"
                    [disabled]="RoomFacilityForm.invalid"></p-button>
            </div>

        </form>
    </p-dialog>

</div>

<div>
    <p-dialog header="Update Room Facility" [(visible)]="visibleUpdate" [style]="{width: '40vw' , height:'40vh'}">
        <form [formGroup]="updateForm" (ngSubmit)="UpdateRoomFacility(productDetails._id, updateForm)">
            <input class="w-100 mt-5 bg-body-tertiary" type="text" pInputText formControlName="name"
                placeholder="Enter new name of room facility" />
            <small class="block p-error" *ngIf=" name.touched">
                <div *ngIf="name.errors?.['required']">Name of room facility is required</div>
            </small>
            <div class="d-flex justify-content-center align-items-center">
                <p-button type="submit" label="Update" class="mt-5 mx-5 px-3"
                    [disabled]="updateForm.invalid"></p-button>
            </div>
        </form>
    </p-dialog>
</div>
<div>
    <p-dialog header="Delete Room Facility" [(visible)]="visibleDelete" [style]="{width: '40vw' , height:'60vh'}">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-10 ">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="./assets/Images/Email.svg" alt="" class="w-25">
                </div>
                <div class="mt-3">
                    <h3 class="text-black fw-bold">Delete This facility Room ?</h3>
                    <p>are you sure you want to delete this item ? if you are sure just click on delete it</p>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <p-button (click)="DeleteRoomFacility(productDetails?._id)" type="submit" label="Delete"
                        class=" mt-5 mx-5 px-3 p-button-danger"></p-button>
                </div>
            </div>
        </div>
    </p-dialog>
</div>

<div class="card text-center my-5">
    <p-table [rowHover]="true" styleClass="p-datatable-striped" [value]="products" responsiveLayout="stack"
        [breakpoint]="'960px'" [tableStyle]="{ 'min-width': '50rem'}">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Name</th>
                <th>Created By</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Actions</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-editing="editing" let-columns="columns">
            <tr>
                <td><span class="p-column-title">name</span>{{product?.name}}</td>
                <td><span class="p-column-title">Price</span>{{product.createdBy?.userName}}</td>
                <td><span class="p-column-title">Category</span>{{product.createdAt | date :'dd/MM//yy'}}</td>
                <td><span class="p-column-title">Quantity</span>{{product.updatedAt | date :'dd/MM//yy'}}</td>
                <td>
                    <a type="button">
                        <span class="material-icons text-primary fs-1 mx-2 carouser"
                            (click)="showViewDialog(product._id)">visibility</span>
                    </a>
                    <a type="button">
                        <span class=" material-icons text-success fs-1 mx-2 "
                            (click)="showupdateDialog(product._id, product.name)">edit_square</span>
                    </a>
                    <a type="button">
                        <span class="material-icons text-danger fs-1 mx-2"
                            (click)="showDeleteDialog(product._id)">delete</span>
                    </a>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div>
        <p-dialog [(visible)]="visibleView" [style]="{width: '50vw'}">

            <div class="row my-3 text-center justify-content-start align-items-start">
                <div class="col-md-3">
                    <img src="./assets/Images/icons8-setting-58.png" alt="" class="w-100">
                </div>
                <div class="col-md-9">
                    <div class="d-flex flex-column justify-content-start align-items-start">
                        <div class="mb-3 ">
                            <p class="text-muted">facility name:</p>
                            <span class="fs-2 text-primary">{{productDetails?.name}}</span>
                        </div>

                        <div>
                            <p class="text-muted">created by:</p>
                            <span class="fs-2 text-primary">{{productDetails?.createdBy?.userName}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card row  bg-body-tertiary d-flex flex-row justify-content-center align-items-center">
                <div class="col-md-6">
                    <p>creation date</p>
                    <p class="text-primary fs-5">{{productDetails?.createdAt | date :'dd/MM//yy'}}</p>
                </div>
                <div class="col-md-6">
                    <p>creation date</p>
                    <p class="text-primary fs-5">{{productDetails?.updatedAt | date :'dd/MM//yy'}}</p>
                </div>
            </div>

        </p-dialog>
    </div>
</div> -->



<section class="mt-3">
    <div class="row justify-content-center">
        <div class="col-12">
            <h3 class="m-0 fw-semibold fs-4">Rooms facilities Table Details</h3>
            <p class="m-0 fs-6 fw-normal">You can check all details</p>
        </div>
    </div>

    <div class="mt-2">
        <app-shared-table [columnList]="columns" [dataArray]="tableData" (actionClick)="onActionClick($event.action, $event.item)"></app-shared-table>
    </div>
</section>